@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Lexend";
		src: url('/fonts/Lexend.ttf') format('truetype')
	}
}

.gradient {
	background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, #89CFF1 100%), url('../public/Design2.png');
}

.gradient-noimg {
	background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, #89CFF1 100%)
}

.gradient-text {
	background: linear-gradient(90deg, black 0%, #89CFF1 100%);
}

.loader {
	border-top-color: black;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}

.amplify-button[data-variation='primary'] {
	background: linear-gradient(90deg, black 0% 0%, #89CFF1 100%);
	border-width: 1px;
	text-align: center;
	border-color: black;
	border-radius: 9999px;
}

.amplify-tabs-item {
	color: red;
}

.amplify-button--disabled[data-variation='primary'] {
	background: var(--amplify-colors-background-tertiary);
	border-color: gray;
}

.amplify-button[data-variation='primary']:hover {
	scale: 1.05;
	text-decoration: underline;
	border-color: black;
	border-width: 1px;
}

.amplify-button--disabled[data-variation='primary']:hover {
	text-decoration: none;
	scale: 1;
	border-color: gray;
}

.amplify-button[data-variation='link'] {
	padding-top: 0;
	padding-bottom: 0;
	color: black;
}

.amplify-button[data-variation='link']:hover {
	color: black;
	text-decoration: underline;
	background-color: transparent;
}


@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}